td.operation {
  width: 15%;
  padding: auto 5px;
}
.normal {
  font-weight: normal;
  color: #666666;
}
.normal-darker {
  font-weight: normal;
  color: #333333;
}
.operation {
  overflow: visible;
}
.caret {
  border-top:   solid 4px #000;
  border-left:  solid 4px transparent;
  border-right: solid 4px transparent;
}