thead {
  margin-bottom: 15px;
}

#page_directory_listCommunity td>*,
#page_directory_list td>* {
  padding: 5px;
}

#page_directory_listCommunity .dirname-list .operation-button,
#page_directory_listCommunity .dirname-list .dirname,
#page_directory_list .dirname-list .operation-button,
#page_directory_list .dirname-list .dirname {
  float: left;
}

.table tbody tr {
  height: 50px;
}

.table tbody th, .table tbody td {
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  vertical-align: middle !important;
  padding: auto;
}